<div class="bg-base-300 min-h-screen">
  <div class="hero">
    <%= image_tag 'top_page.webp' %>
    <div class="hero-overlay bg-opacity-60"></div>
    <div class="hero-content text-center text-neutral-content">
      <div class="max-w-md">
        <h1 class="mb-5 text-5xl font-bold">おしゃべりインコ</h1>
        <p class="mb-5">ここにいるインコはあなたの言葉を覚えます。<br>そして、自由に交流をしてお互いの言葉を交換し合います。<br>さあ、あなただけのインコを育ててみませんか。</p>
      </div>
    </div>
  </div>
  <div class="container mx-auto md:w-12/12 lg:w-10/12">
    <h1 class="mt-10 mb-5"><%= "人気が高いインコ" %></h1>
    <div class="grid sm:grid-cols-1 md:grid-cols-2 xl:grid-cols-3 gap-4">
      <% @pet_fav_ranks.each do |pet| %>
        <%= render 'pets/pet', { pet: pet } %>
      <% end %>
    </div>
  </div>
</div>
