<%= link_to show_my_pet_path(id: pet.id),
            data: { turbo_stream: true } do %>
  <div class="w-54 h-20 bg-red-100 hover:bg-red-200">
    <div class="flex grid grid-cols-12">
      <figure class="col-span-4"><%= image_tag pet.bird.bird_image_url, size: '90x60' %></figure>
      <h2 class="col-span-5 mt-3"><%= pet.name %></h2>
    </div>
  </div>
<% end %>
