<% if user_signed_in? %>
  <% if pet.enter?(room) %>
    <div class="card-actions justify-end">
      <button class="btn btn-primary">
        <%= render 'exit', { pet: pet, room: room } %>
      </button>
    </div>
  <% else %>
    <div class="card-actions justify-end">
      <button class="btn btn-primary">
        <%= render 'enter', { pet: pet, room: room } %>
      </button>
    </div>
  <% end %>
<% end %>