<%= turbo_frame_tag dom_id(pet) do %>
  <div data-controller="bird-speak" data-bird-speak-pet-id="<%= pet.id %>">
    <div class="w-72 h-36 text-white">
      <h2 class="ml-12"><%= pet.name %></h2>
      <figure><%= image_tag pet.bird.bird_image_url, size: '100x70' %></figure>
      <div data-bird-speak-target="birdsaid"></div>
    </div>
  </div>
<% end %>
