<div class="card card-compact w-96 bg-base-100 shadow-xl">
  <figure><%= image_tag pet.bird.bird_image_url, class: 'card-img-top', size: '300x200' %></figure>
  <div class="card-body">
    <h2 class="card-title"><%= pet.name %></h2>
    <%= render partial: 'exchange_button', locals: { pet: pet, room: room } %>
  </div>
</div>
