<div class="w-54 h-20 bg-red-100 hover:bg-red-200 text-black">
  <div class="flex grid grid-cols-12">
    <figure class="col-span-4"><%= image_tag pet.bird.bird_image_url, size: '90x60' %></figure>
    <h2 class="col-span-7 mt-3"><%= pet.name %></h2>
    <div class="col-end-13">
      <%= render partial: 'exchange_button', locals: { pet: pet, room: room } %>
    </div>
  </div>
</div>
