<div class="container mx-auto sm:w-11/12 lg:w-11/12">
  <div class="grid sm:grid-cols-1 md:grid-cols-2 xl:grid-cols-3 gap-4">
    <% @rooms.each do |room| %>
      <%= render 'room', { room: room } %>
    <% end %>
  </div>
</div>
