<div class="hero min-h-screen">
  <%= image_tag @room.room_image_url %>
  <div class="hero-overlay bg-opacity-60"></div>
  <div class=" text-center text-neutral-content">
    <div class="grid sm:grid-cols-1 md:grid-cols-2 xl:grid-cols-3 gap-4">
      <% @my_pets.each do |pet| %>
        <%= render 'pet', { pet: pet } %>
      <% end %>
    </div>
  </div>
</div>
