<div class="mt-3">
  <div class="card card-compact w-96 bg-gray-800 shadow-xl p-10">
    <figure><%= image_tag bird.bird_image_url, class: 'card-img-top', size: '300x200' %></figure>
    <div class="card-body">
      <h2 class="card-title"><%= bird.bird_type %></h2>
      <p><%= bird.description %></p>
      <div class="card-actions justify-end">
      <button data-action="click->modal#open" data-bird-id="<%= bird.id %>" class="btn btn-primary text-gray-200">open modal</button>
      </div>
    </div>
  </div>
</div>
