<div class="card card-compact w-96 bg-base-100 shadow-xl p-10">
  <figure><%= image_tag @bird.bird_image_url, class: 'card-img-top', size: '300x200' %></figure>
  <div class="card-body">
    <h2 class="card-title"><%= @bird.bird_type %></h2>
    <p><%= @bird.description %></p>
    <div class="card-actions justify-end">
      <button class="btn btn-primary"><%= link_to "この子にする！", new_pet_path(:bird_id => @bird.id) %></button>
    </div>
  </div>
</div>
